html, body{
    margin:0px;
    padding: 0px;
    border:none;

    --top-padding: 35pt;
    --bottom-padding: 35pt;
    --spacing:14pt;
    --spacing-smaller:3pt;

    --text-size-label: 7pt;
    --text-size-body: 10.5pt;
    --text-size-title:14pt;
    --color-white:#F3F0FE;
    --color-pink:#B9ACFF;
    --color-dark:#444444;
    --color-red: #f74242;
    --line-width:1px;
    --max-width: 1000px;

    --color-old:#F3F0FE;

    font-family: 'grotesk_demi';

    width:100%;
    overflow:hidden;
}

@media screen and (min-width: 800px) {
    html, body{
        --top-padding: 50pt;
        --bottom-padding: 70pt;

        --spacing:22pt;
        --spacing-smaller:6pt;

        --text-size-label: 10pt;
        --text-size-body: 13pt;
        --text-size-title:16pt;
    }
}


st-label .arrow{
    transform:  translate3d(0,4%,0) scale(1.4);
    display:inline-block;
    margin-left: .3em;
}

st-text h1{
    color:var(--color-red);
    margin:0;
    margin-bottom: var(--spacing);
    font-size: var(--text-size-title);
}

span[mark]:link, span[mark]{
    color:var(--color-red);
}

span[mark] a, st-text span a{
    text-decoration: none;
    color:var(--color-red);
    font-size: var(--text-size-body);
}

st-text span a{
    color: var(==);
}

st-text span img{
    height:20pt;
    margin-bottom:var(--spacing);
    display: block;

}

body{
    height: 100vh;
    width:100%;
    background-color:black;
    bottom:0px;
    overflow:hidden;
}

nav{
    position:fixed;
    width:100%;
    height:100%;
    background-color:var(--color-pink);
    color:var(--color-white);
    box-sizing: border-box;
    padding: var(--spacing);
    padding-top:calc(var(--top-padding) + var(--spacing));
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    grid-gap: var(--spacing);
    transform: translate3d(0, 0, 0);
    transition: transform .3s ease-in-out;
    right:0;
}

@media screen and (min-width: 800px) {
    nav{
        width:300pt;
    }
}


nav[hidden]{
    transform: translate3d(101%, 0, 0);
}

nav a, nav a:link, nav a:visited{
    text-transform: uppercase;
    text-decoration:none;
    line-height: .85em;
    cursor:pointer;
}


nav a:first-child{
    color:var(--color-red);
}


nav a::before{
    content: "> ";
    top: -.1em;
    font-size: 1em;
    position: relative;
}

header{
    position:fixed;
    height:var(--top-padding);
    width:100%;
    top:0;
    box-sizing:border-box;
    padding: 0 var(--spacing);
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: 50% auto;
    padding-top: var(--spacing-smaller);
    /* grid-gap: var(--spacing-smaller); */
    grid-row-gap: var(--spacing-smaller);
    row-gap: var(--spacing-smaller);


    grid-column-gap: var(--spacing);
    column-gap: var(--spacing);
}

header svg{
    height:100%;
    cursor:pointer;
}

header .subLogo{
    color:var(--color-red);
    font-size: 7pt;
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    margin-left: .4em;
    align-self: start;
    cursor:pointer;
}

@media screen and (min-width: 800px) {
    header .subLogo{
        color:var(--color-red);
        font-size: 9pt;
        margin-left: .7em;
    }
}

header st-toggle-icon{
    --text-size-title:10pt;
    
    --stroke-color: var(--color-pink);
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    
    align-self: center;
    justify-self:end;
    position:relative;
    cursor:pointer;

    margin:0;
}



header .menuButton{
    --text-size-title:10pt;
    
    --color-one:var(--color-pink);
    --color-two:var(--color-white);

    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    
    align-self: center;
    justify-self:end;
    position:relative;
    cursor:pointer;

    margin:0;
    display:inline-flex;
}



@media screen and (min-width: 800px) {
    header .menuButton:after{
        font-size:var(--text-size-title);
        margin-top: .2em;
        content:"MENU";
        display:block;
        margin-left: var(--spacing-smaller);
        transition: color .3s linear;
    }

    header .menuButton[two]:after{
        color:var(--color-white);
    }

    header .menuButton[one]:after{
        color:var(--color-pink);
    }
}

footer {
    position: fixed;
    bottom: 0;
    height: var(--bottom-padding);
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    color: var(--color-red);
    padding: var(--spacing-smaller) var(--spacing);
    box-sizing: border-box;
    max-width: var(--max-width);
    left: 50%;
    transform: translateX(-50%);
    cursor:pointer;
}


footer:after{
    content:"";
    height: var(--line-width);
    width:calc(100% - (2 * var(--spacing)));
    display:block;
    position:absolute;
    background-color: var(--color-red);
    left: var(--spacing);
}

footer .safeEx{
    font-size: var(--text-size-label);
}

footer .exit{
    --stroke-color: var(--color-red);
    align-self: var(--top-padding);
    margin-top: 4pt;
    justify-self:end;
}

footer .down{
    position: absolute;
    --stroke-color: var(--color-red);
    justify-self:end;
    top:0pt;
    left:50%;
    transform: translate3d(-50%, calc(-100% - 30pt), 0);
    transition: all .3s ease-in-out;
    opacity: 1;
}

footer .down[hidden]{
    transform: translate3d(-50%, 0, 0);
    opacity: 0;
}


.container{
    --color-white:var(--color-pink);
    


    position:fixed;
    top:var(--top-padding);
    height: calc(var(--total-height) - var(--top-padding) - var(--bottom-padding));
    width:100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 , 100%);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.videoCrop{
    position:absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
    opacity:0;
    transition: opacity 1s linear;
    transition-delay:.5s;
}


.video-wrapper{
    position:relative;
    top:0px;
    width:calc(100vh / 9 * 16);
    height:100vh;
    left:calc((100vh / 9 * 16 / -2) + 50vw)
}

@media (min-aspect-ratio: 16/9) {
    .video-wrapper{
        position:relative;
        top:0px;
        left:0px;
        width:100vw;
        height:calc(100vw / 16 * 9);
        top:calc(calc(100vw / 16 * 9 / -2)  + 50vh)
    }
}

.video-wrapper .background{
    width: 100%;
    height: 100%;
}

.overlay, .pink{
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:var(--total-height);
    background-color:rgba(0,0,0,.9);
    display:block;
    display:grid;
    justify-items: center;
    align-items: center;
    z-index:1;
}

.pink{
    background-color:var(--color-pink);
}




.pink st-text{
    max-width:var(--max-width);
}

.overlay st-svg, .pink st-svg{
    --text-size-title: 15pt;
    --stroke-color: var(--color-white);
    position:absolute;
    top:11pt;
    right:var(--spacing);
    cursor:pointer;
}

.pink{
    /* transform: translate3d(0,0,0); */
    transition: left .3s ease-in-out;
    left:0vw;
    padding: calc(var(--top-padding) + var(--spacing-smaller)) var(--spacing) var(--spacing) var(--spacing);
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.pink[hidden]{
    /* transform: translate3d(0,0,0); */
    left:100vw;
}

@media screen and (min-width: 800px) {
    .pink{
        transition: all .15s ease-in-out;
        max-width: var(--max-width);
        height: auto;
        left: 50%;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        opacity:1;
        min-height:550px;
        box-sizing: border-box;
        line-height: 1.7em;
    }

    .pink[hidden]{
        transform: translate3d(-50%, -50%, 0) scale(.9);
        left: 50%;
        opacity: 0;
        visibility: hidden;
        /* transform: translate3d(0,0,0); */
        /* left:100vw; */
    }
}


.pink st-svg{
    z-index:10;
}

.pink st-svg:before{
    background-color:var(--color-pink);
    content:"";
    width: 200%;
    height:200%;
    display:block;
    position: absolute;;
    top:-50%;
    left:-50%;
}

.overlay[hidden]{
    display:none;
}