
@font-face {
    font-family:"grotesk_demi";
    src:url("nb_grotesk-65_halbfett-webfont.woff2") format("woff2"),url("nb_grotesk-65_halbfett-webfont.woff") format("woff"),url("nb_grotesk-65_halbfett-webfont.otf") format("opentype");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"grotesk_regular";
    src:url("nb_grotesk-55_normal-webfont.woff2") format("woff2"),url("nb_grotesk-55_normal-webfont.woff") format("woff"),url("nb_grotesk-55_normal-webfont.otf") format("opentype");
    font-style:normal;font-weight:400;
}
